<ul>
  <li>
    For bugs, issues and suggestions, the best way is to create issues or pull requests to
      <a href="https://github.com/CONNECT-platform/connective" target="_blank">the repository</a>.
  </li>
  <li>
    For questions, feedback, etc. join the conversation on
    <a href="https://gitter.im/connectv" target="_blank">Gitter</a>.
  </li>
  <li>
    You can also <a href="mailto:eugene@connect-platform.com">drop me an email</a> anytime.
  </li>
</ul>
