<div class="footer">
  <a href="/docs/overview">Docs</a>
  <hr>
  <a href="javascript:void()" class="gitter">Community</a>

  <div id="dmtoggle">
    <div class="arc"></div>
    <div class="darc"></div>
    <div class="ray one"></div>
    <div class="ray two"></div>
    <div class="ray three"></div>
    <div class="ray four"></div>
    <div class="ray five"></div>
    <div class="ray six"></div>
    <div class="ray seven"></div>
    <div class="ray eight"></div>
  </div>

  <a id="navtoggle" class="nav no-underline">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </a>
</div>

<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'connectv/community',
    activationElement: '.footer a.gitter',
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>


<div id="gitter-overlay" class="overlay fade">
</div>