<div id="nav">
  <div class="contents">
    <a href="/">Home</a>
    <hr>
    <a href="/docs/overview">Overview</a>

    <br><br>

    <h3>Pins</h3>
    <a href="/docs/pin">pin</a>
    <hr>
    <a href="/docs/source">source</a>
    <hr>
    <a href="/docs/wrap">wrap</a>
    <hr>
    <a href="/docs/map">map</a>
    <hr>
    <a href="/docs/filter">filter</a>
    <hr>
    <a href="/docs/control">control</a>
    <hr>
    <a href="/docs/value">value</a>
    <hr>
    <a href="/docs/pack">pack</a>
    <hr>
    <a href="/docs/spread">spread</a>
    <hr>
    <a href="/docs/group">group</a>
    <hr>
    <a href="/docs/sink">sink</a>
    <hr>
    <a href="/docs/pipe">pipe</a>
    <hr>
    <a href="/docs/fork">fork</a>
    <hr>
    <a href="/docs/reduce">reduce</a>

    <br><br>

    <h3>Agents</h3>
    <a href="/docs/agent">Agent</a>
    <hr>
    <a href="/docs/expr">expr</a>
    <hr>
    <a href="/docs/state">state</a>
    <hr>
    <a href="/docs/gate">gate</a>
    <hr>
    <a href="/docs/handle-error">handleError</a>
    <hr>
    <a href="/docs/composition">Composition</a>
    <hr>
    <a href="/docs/node">node</a>
    <hr>
    <a href="/docs/invoke">invoke</a>
    <hr>
    <a href="/docs/sequence">sequence</a>
    <!--<hr>
    <a href="/docs/switch">switch</a>-->
    <hr>
    <a href="/docs/proxy">proxy</a>
    <hr>
    <a href="/docs/join">join</a>

    <br><br>

    <h3>Advanced</h3>
    <a href="/docs/memory">Memory management</a>
    <hr>
    <a href="/docs/emission">Emission and context</a>
    <hr>
    <a href="/docs/interfaces">Interfaces & Types</a>
    <hr>
    <a href="/docs/under-the-hoold">Under the hood</a>

  </div>
  <div class="search">
    <input id="navsearch" type="text" placeholder="Search..."/>
    <p><b>NOTE:</b> GitHub limits the rate for searching to 10 queries per minute.</p>
    <div id="navsearchicon" class="icon">
      <img class="handle" src="/docs/assets/search-handle.svg"/>
      <img class="ring" src="/docs/assets/search-ring.svg"/>
    </div>
  </div>
</div>
