{% extends '_base.njk' %}

{% block content %}
<div class="not-found">
  <br><br><br>
  <h1>Page Not Found</h1>
  <p>Looks like the page you are looking for have ceased to exist, doesn't exist yet, or
  never had and never will exist outside of the history of a day-dreaming browser.
  Either way, rest a moment, enjoy the <span class="light">sun</span><span class="dark">moon</span>,
  then head back home as we've got more tales of awesome
  for your weary ears.</p>
  <div class="buttons">
    <a href="javascript:void()" onclick="window.history.back()">Go Back</a>
    <a class="button" href="/">Home</a>
  </div>
  <br><br>

  <div class="image-group">
    <img class="light" src="/docs/assets/404.svg"/>
    <img class="dark" src="/docs/assets/404-dark.svg"/>
  </div>
</div>

{% endblock %}

{% block bottomlogo %}
{% endblock %}

{% block prevnext %}
{% endblock %}
