{% extends '_base.njk' %}

{% block content %}
<div class="not-found">
  <br><br><br>
  <h1>Page Not Found</h1>
  <p>Looks like the page you are looking for have ceased to exist, doesn't exist yet, or
  never had and never will exist outside of the history of a day-dreaming browser.
  Either way, rest a moment, enjoy the sun,
  then head back home as we've got more tales of awesome
  for your weary ears.</p>
  <div class="buttons">
    <a class="button" href="/">Head Back Home</a>
  </div>
  <br><br>
  <img src="/docs/assets/404.svg"/>
</div>

{% endblock %}

{% block bottomlogo %}
{% endblock %}
