<!doctype html>
<html>
  <head>
    <title>CONNECTIVE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="subject" content='Reactive Programming At Scale'/>
    <meta name="robots" content='index,follow'/>
    <meta name="description" content='A thin library enabling large-scale, efficient reactive programming in Javascript/Typescript.'/>
    <meta name="keywords" content="reactive, rxjs, programming, asynchronous, async, agent, actor, library, asynchronous programming, javascript, typescript, rx"/>

    <link rel="shortcut icon" href="/docs/assets/favicon.ico"/>

    <link href="https://fonts.googleapis.com/css?family=Hind:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

    <script src="https://unpkg.com/rxjs/bundles/rxjs.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.14/lodash.min.js"></script>
    <script src="https://unpkg.com/@connectv/core/dist/bundles/connective.es5.min.js"></script>

    <link href="/docs/assets/styles.css" rel="stylesheet">
    <script src="/docs/assets/main.js"></script>
  </head>
  <body>
    <div class="container">

      {% block content %}
      {% endblock %}
      <br><br>

      {% block prevnext %}
      {% include 'chunks/_prevnext.njk' %}
      {% endblock %}

      {% block bottomlogo %}
      <img class="bottom-logo" src="/docs/assets/logo-unframed.svg"/>
      {% endblock %}
    </div>

    <div id="toc">
    </div>

    {% include 'chunks/_nav.njk' %}

    {% include 'chunks/_footer.njk' %}

    <div id="copy-confirm" class="overlay">
      Copied to Clipboard!
    </div>
  </body>
</html>
