{% extends '_base.njk' %}

{% block content %}
<br><br>

<h1 id="">Group</h1>

<span code>group()</span> allows you to perform some operations on a group of
<a href="/docs/pin">pin</a>s instead of just one of them. Because of this,
a <span code>group()</span> can <a href="/docs/interfaces#pin-like">act like a pin</a> in a lot of cases.

<br><br>

Whenever you call <span code>.to()</span> and <span code>.from()</span> methods of a pin, the result will
be a group of pins containing all pins you passed to the method.

<br><br>

<h2 id="connecting">Connecting</h2>

When you use <span code>.to()</span> or <span code>.from()</span> methods on a group, all the pins in the group
will be connected to (or receive a connection from) the given pin:

<pre try="https://stackblitz.com/edit/connective-grp-ex1">
  <code class="javascript">import { source, group, map } from '@connectv/core';

let a = source();
let g = group(map(x =&gt; 'x' + x), map(x =&gt; 'y' + x));
a.to(g).subscribe(console.log); //--&gt; a goes to both `map()`s in g

a.send('A');</code>
</pre>

When you call <span code>.to()</span> on a group passing another group to it (or multiple pins), all pins in the
first group will be connected to the all pins in the second group:

<pre try="https://stackblitz.com/edit/connective-grp-ex2">
  <code class="javascript">import { source, group, map, pin } from '@connectv/core';

let a = source();
let g1 = group(map(x => 'x' + x), map(x => 'y' + x));
let g2 = group(map(x => 'a' + x), map(x => 'b' + x));

a.to(g1).to(g2).to(pin()).subscribe(console.log);

a.send(1);</code>
</pre>

<h2 id="subscribe">Subscribing</h2>

You can use the <span code>.subscribe()</span> method on a group to subscribe to all of its pins:

<pre try="https://stackblitz.com/edit/connective-grp-ex3">
  <code class="javascript">import { source, group } from '@connectv/core';

let a = source();
let b = source();

group(a, b).subscribe(console.log);

a.send('hellow');
b.send('world');</code>
</pre>

Similarly, you can call <span code>.bind()</span> method on a group. Note that this will only affect pins that
have a <span code>.bind()</span> method (other pins in the group will remain unaffected).

<br><br>

<h2 id="clear">Clearing up</h2>

For clearing up, you can also call <span code>.clear()</span> method on a group, which will simply invoke
the <span code>.clear()</span> method of all of the pins in it.

<br><br>

<h2 id="further-reading">Further reading</h2>

<ul>
  <li>
    <a href="https://github.com/CONNECT-platform/connective/blob/master/src/pin/test/group.test.ts" target="_blank">
      Specification (test suite)
    </a>
  </li>
  <li>
    <a href="https://github.com/CONNECT-platform/connective/blob/master/src/pin/group.ts" target="_blank">
      Source code
    </a>
  </li>
</ul>

{% endblock %}
