* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Hind', sans-serif;
  background: #f5f5f5;
  color: #424242;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body.dark-mode {
  background: #212121;
  color: #eeeeee;
}

body.dark-mode-animate {
  transition: background .3s, color .3s;
}

.container {
  max-width: 768px;
  padding: 32px;
  margin: 0 auto;
  margin-bottom: 64px;
}

a {
  text-decoration: none !important;
  outline: none !important;
  color: #4A90E2;
  position: relative;
}

a.button {
  color: white;
  background: #4A90E2;
  padding: 4px 16px;
  border-radius: 3px;
  border: 2px solid #4A90E2;
  min-width: 96px;
  display: inline-flex; justify-content: center; align-items: center;
  transition: background .15s, color .15s;
}

a.button:hover {
  background: transparent;
  color: #4A90E2;
}

a:not(.button)::after {
  content: ' ';
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 4px;
  height: 2px;
  background: #4A90E2;
  z-index: -1;
  transform: scaleX(0);
  transition: transform .1s;
}

a:not(.button):hover::after {
  transform: scaleX(1);
}

a.no-underline::after {
  display: none;
}

.buttons {
  text-align: right;
}

pre + .buttons {
  margin-bottom: 24px;
}

.buttons a:not(.button) {
  margin: 0 32px;
}

.logo {
  max-width: 380px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.bottom-logo {
  max-width: 128px;
  width: 100%;
  display: block;
  margin: 64px auto;
  opacity: 1;
}

body.dark-mode-animate .bottom-logo {
  transition: opacity .3s;
}

body.dark-mode .bottom-logo {
  opacity: .1;
}

.animation {
  max-width: 320px;
  width: 100%;
  display: block;
  margin: 0 auto;
  opacity: 1;
}

body.dark-mode-animate .animation {
  transition: opacity .3s;
}

body.dark-mode .animation.light {
  opacity: 0;
}

.animation.dark {
  opacity: 0;
}

body.dark-mode .animation.dark {
  opacity: 1;
}

.animation-group {
  position: relative;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.animation-group .animation:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

h1[main] {
  font-weight: normal;
  font-size: 48px;
}

h1[id], h2[id], h3[id] {
  position: relative;
  cursor: pointer;
}

h1[id]::before, h2[id]::before, h3[id]::before {
  content: ' ';
  position: absolute;
  top: -4px;
  bottom: 0;
  left: -32px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./link.svg');
  opacity: 0;
  transform: translateX(-24px);
  transition: opacity .15s, transform .15s;
}

h1[id]:hover::before, h2[id]:hover::before, h3[id]:hover::before {
  opacity: .5;
  transform: translateX(0px);
}

/*********** 404 ***********/

.not-found img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

/*********** toc ***********/

#toc {
  position: fixed;
  top: 0;
  bottom: 64px;
  right: 0;
  width: calc(50% - 384px);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 12px;
}

#toc>div {
  padding-left: 48px;
  margin-left: 64px;
  border-left: 1px dashed #cacaca;
  transition: border-color .3s;
}

body.dark-mode #toc>div {
  border-color: #424242;
}

#toc a { color: #bdbdbd; transition: color .15s; }
body.dark-mode #toc a { color: #424242; }
#toc a.visible, body.dark-mode #toc a.visible { color: #4A90E2; }
#toc a.h2 { margin-left: 16px; }
#toc a.h3 { margin-left: 32px; }
#toc a:hover, body.dark-mode #toc a:hover { color: #4A90E2; }

@media screen and (max-width: 1200px) {
  #toc { display: none; }
}

/*********** nav ***********/

#nav {
  position: fixed;
  top: 0;
  bottom: 64px;
  left: 0;
  width: calc(50% - 384px);
  background: #f5f5f5;
  transform: translateX(-110vw);
  transition: transform .5s, background .3s;
  display: flex;
  flex-direction: column;
}

body.dark-mode #nav {
  background: #212121;
}

#nav.active {
  transform: translateX(0);
}

#nav .contents {
  margin: 32px;
  margin-bottom: 0px;
  flex-grow: 1;
  overflow-y: auto;
}

#nav .search {
  position: relative;
  margin: 32px;
  margin-bottom: 0px;
}

#nav .search input {
  display: block;
  width: calc(100% - 9px);
  font-family: 'Hind', sans-serif;
  font-size: 14px;
  padding: 4px 0;
  padding-left: 8px;
  border: 1px solid #e0e0e0;
  background: white;
  border-radius: 32px;
  outline: none;
  color: inherit;
  transition: background .3s, border-color .3s;
}

body.dark-mode #nav .search input {
  background: black;
  border-color: #424242;
}

#nav .search input::placeholder {
  color: #9e9e9e;
  font-style: italic;
  transition: color .3s;
}

body.dark-mode #nav .search input::placeholder {
  color: #616161;
}

#nav .search p {
  font-size: 10px;
  color: #9e9e9e;
  margin-left: 8px;
  transition: color .3s;
}

body.dark-mode #nav .search p {
  color: #616161;
}

#nav .search .icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 4px;
  right: 8px;
}

#nav .search .icon.loading {
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

#nav .search .icon img {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  transition: transform .15s, opacity .15s;
}

#nav .search .icon.loading img.handle {
  opacity: 0;
}

#nav .search .icon.loading img.ring {
  transform: scale(1.5) translateX(2.156px) translateY(2.156px);
}

@-webkit-keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#nav a {
  transition: opacity .5s;
}

#nav a::before {
  content: ' ';
  position: absolute;
  left: -8px; right: -8px;
  top: 8px; bottom: 8px;
  background: #ffd740;
  z-index: -1;
  border-radius: 3px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: opacity .5s, transform .5s;
}

#nav a.highlight::before {
  opacity: 1;
  transform: scaleX(1);
}

#nav a.faded {
  opacity: .25;
}

#nav hr {
  border: none;
  border-top: 1px dashed #bdbdbd;
  transition: border-color .3s;
}

body.dark-mode #nav hr {
  border-color: #424242;
}

@media screen and (max-width: 1200px) {
  #nav {
    width: 100vw;
    transition: transform .3s;
  }
}

/*********** prevnext ***********/

#prevnext {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 128px;
  width: 75%;
}

@media screen and (max-width: 1200px) {
  #prevnext {
    width: 100%;
  }
}

#prevnext hr {
  border: none;
  width: 4px;
  height: 24px;
  background: #e0e0e0;
}

body.dark-mode-animate #prevnext hr {
  transition: background .3s;
}

body.dark-mode #prevnext hr {
  background: #313131;
}


#prevnext #prev,
#prevnext #next {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
}

#prevnext #prev.active,
#prevnext #next.active {
  cursor: pointer;
  opacity: 1;
}

#prevnext #prev:hover a::after,
#prevnext #next:hover a::after {
  transform: scaleX(1);
}

#prevnext #prev::before,
#prevnext #prev::after,
#prevnext #next::before,
#prevnext #next::after {
  position: absolute;
  width: 16px; height: 4px; content: ' ';
  background: #e0e0e0;
}

body.dark-mode-animate #prevnext #prev::before,
body.dark-mode-animate #prevnext #prev::after,
body.dark-mode-animate #prevnext #next::before,
body.dark-mode-animate #prevnext #next::after {
  transition: background .15s;
}

body.dark-mode #prevnext #prev::before,
body.dark-mode #prevnext #prev::after,
body.dark-mode #prevnext #next::before,
body.dark-mode #prevnext #next::after {
  background: #313131;
}

#prevnext #prev:hover::before,
#prevnext #prev:hover::after,
#prevnext #next:hover::before,
#prevnext #next:hover::after,
body.dark-mode #prevnext #prev:hover::before,
body.dark-mode #prevnext #prev:hover::after,
body.dark-mode #prevnext #next:hover::before,
body.dark-mode #prevnext #next:hover::after {
  background: #4A90E2;
}

#prevnext #prev::before,
#prevnext #prev::after {
  left: 0;
  transform-origin: 2px 2px;
}

#prevnext #next::before,
#prevnext #next::after {
  right: 0;
  transform-origin: 14px 2px;
}

#prevnext #prev::before,
#prevnext #next::after {
  transform: rotate(45deg);
}

#prevnext #prev::after,
#prevnext #next::before {
  transform: rotate(-45deg);
}

/*********** header ***********/

#header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 24px;
}


/*********** footer ***********/

.footer {
  position: fixed;
  background: #f5f5f5;
  left: 0; right: 0; bottom: 0; height: 64px;
  font-size: 18px;
  display: flex; align-items: center; justify-content: center;
}

body.dark-mode-animate .footer {
  transition: background .3s, color .3s;
}

body.dark-mode .footer {
  background: #212121;
}

.footer hr {
  width: 2px;
  height: 24px;
  background: #e0e0e0;
  margin: 0 32px;
  border: none;
}

body.dark-mode-animate .footer hr {
  transition: background .3s;
}

body.dark-mode .footer hr {
  background: #424242;
}

.footer #dmtoggle {
  width: 48px;
  height: 48px;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 32px;
  opacity: .25;
  cursor: pointer;
  transition: transform .3s, opacity .15s;
}

body.dark-mode .footer #dmtoggle {
  transform: rotate(-45deg);
}

.footer #dmtoggle:hover {
  opacity: 1;
}

.footer #dmtoggle div {
  position: absolute;
  background: #424242;
  transition: transform .3s, background .3s;
}

body.dark-mode .footer #dmtoggle div {
  background: #f5f5f5;
}

.footer #dmtoggle .arc, .footer #dmtoggle .darc {
  width: 16px;
  height: 16px;
  border-radius: 16px;
}

body.dark-mode .footer #dmtoggle .arc {
  transform: scale(1.2);
}

.footer #dmtoggle .darc {
  background: #f5f5f5;
  transform: translateX(24px);
}

body.dark-mode .footer #dmtoggle .darc {
  transform: translateX(6px);
  background: #212121;
}

.footer #dmtoggle .ray {
  width: 6px;
  height: 2px;
  border-radius: 2px;
  margin-left: 28px;
  transform-origin: -11px 1px;
}

.footer #dmtoggle .ray.one { transform: rotate(0deg); }
.footer #dmtoggle .ray.two { transform: rotate(45deg); }
.footer #dmtoggle .ray.three { transform: rotate(90deg); }
.footer #dmtoggle .ray.four { transform: rotate(135deg); }
.footer #dmtoggle .ray.five { transform: rotate(180deg); }
.footer #dmtoggle .ray.six { transform: rotate(225deg); }
.footer #dmtoggle .ray.seven { transform: rotate(270deg); }
.footer #dmtoggle .ray.eight { transform: rotate(315deg); }

body.dark-mode .footer #dmtoggle .ray {
  transform: scaleX(0.01);
}

.footer img {
  height: 48px;
}

.footer .nav {
  height: 48px;
  position: absolute;
  left: 32px;
  text-align: center;
  cursor: pointer;
  display: flex; align-items: center; justify-content: space-between;
  flex-direction: column;
  height: 16px;
  opacity: .5;
  transition: opacity .15s;
}

.footer .nav.active, .footer .nav:hover {
  opacity: 1;
}

.footer .nav .line {
  width: 24px;
  height: 2px;
  background: #424242;
  transition: opacity .15s, transform .15s, background .3s;
  transform-origin: 16px 1px;
}

body.dark-mode .nav .line {
  background: #eeeeee;
}

.footer .nav.active .line {
  transform: rotate(45deg);
}

.footer .nav.active .line:first-child {
  transform: rotate(-45deg);
}

.footer .nav.active .line:last-child {
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .footer .nav {
    left: 12px;
  }

  .footer #dmtoggle {
    right: 12px;
  }
}

/*********** overlays ***********/

.overlay {
  position: fixed; display: flex;
  z-index: -1000; opacity: 0;
  background: rgba(0, 0, 0, .85); color: white;
  align-items: center; justify-content: center; text-align: center;
  font-size: 48px;
  left: 0; top: 0; bottom: 0; right: 0;
  user-select: none;
  transition: opacity 0s;
}

.overlay.active {
  opacity: 1; z-index: 1000; transition: opacity .15s;
}

/*********** hljs overrides ***********/

span[code] {
  background: rgba(128, 128, 128, .12);
  font-family: monospace;
  padding: 4px;
  border-radius: 3px;
}

pre[copy] {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

pre[copy]::after {
  position: absolute;
  right: 0; top: 0; height: 48px;
  content: '< click to copy';
  color: #4A90E2; border-radius: 3px;
  background: #212121;
  font-family: 'Hind', sans-serif;
  font-size: 14px; font-weight: bold;
  display: flex; justify-content: center; align-items: center;
  padding: 0 16px;
  transform: translateX(100%);
  transition: all .15s;
}

pre[copy]:hover::after {
  transform: translateX(0);
}

code .line {
  cursor: pointer;
  background: transparent;
  transition: background .15s;
  position: relative;
}

code .line:before {
  content: ' ';
  position: absolute;
  left: -10px;
  width: 2px;
  top: 0;
  bottom: 0;
  border-left: 2px dotted #313131;
  border-right: 2px dotted #313131;
  transition: border-color .15s;
}

code .line:hover {
  background: #424242;
}

body.dark-mode code .line:hover {
  background: #212121;
}

code .line:hover:before {
  border-color: #4A90E2;
}

.hljs {
  background: #212121;
  color: #e0e0e0;
  padding: 16px;
  border-radius: 3px;
  font-size: 12px;
}

body.dark-mode .hljs {
  background: #000000;
}

.hljs-keyword {
  color: #4A90E2;
  font-weight: normal;
}

.hljs-built_in {
  color: #B765FF;
}

.hljs-subst {
  color: #B8E986;
}

.hljs-number {
  color: #F5A623;
}

.hljs-literal {
  color: #F5A623;
}

.hljs-title {
  color: #ffffff;
  font-weight: normal;
}

.hljs-attr {
  color: #B765FF;
}

.hljs-string {
  color: #B8E986;
}
